# requirements for docker + gunicorn + postgresql db + celery

celery>=5.2.7, <5.3.0
redis~>4.4.4 # celery broker
psycopg2>=2.9.4, <2.10.0 # required for postgresql db backend
gunicorn>=20.1.0, <20.2.0 # wsgi application
gevent~>23.9.0 # worker for gunicorn

