{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>   

<html>
<body>
    <div class="flex-container">
        <p>Login</p>
        <div id="msftButton" class="msft-button oauth-button" tabindex="0" style="position:relative; width: 25%;">
            <span id="msft-icon" class="icon"></span> 
            <span class="label" data-analytics-button="loginWithMicrosoftButton">Continue with Microsoft</span>    
            <a href="{{ auth_uri }}" style="position:absolute;width:100%;height:100%;top:0;left:0;text-decoration:none;z-index:10;background-color:#FFF;opacity:0;filter:alpha(opacity=1);"></a>
        </div>        
    </div>
</body>
</html>