{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>   

<html>
<body>
    <div class="flex-container">
        <p>Login</p>
        <div id="msftButton" class="msft-button oauth-button" tabindex="0" style="position: relative; width: 30%;">
            <span id="msft-icon" class="icon"></span> 
            <span class="label" data-analytics-button="loginWithMicrosoftButton">Continue with Microsoft</span>    
            <a href="{{ auth_uri }}" class="linked-div-a"></a>
        </div>        
    </div>
</body>
</html>