{% extends 'SRS/base.html' %}
{% load SRS_tags %}
{% load static %}

{% block head %}
    <title>Assesments</title>
    <link rel="stylesheet" href="{% static 'css/assesments.css' %}">
{% endblock %}

{% block content %}

<!-- Search -->
<form action="{{ request.path }}" method="GET">
    <input type="text" id="search" name="search" placeholder="Search.."
        minlength="1" maxlength="30" size="10" {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}>
    <button type="submit"><span class="icon" id="search-icon"></span></button> 
</form>  

<!-- topbar -->
{% if recent_assesments %}
<span class="centered margin-vertical">Recent Assesments</span>
{% endif %}
<div class="topbar">
    {# Note: slice:":10" is a redundancy to ensure multiple things are not evaluated all at once #}
    {% for assesment in recent_assesments|slice:":10" %}
        <article class="w3-container w3-white w3-hover-grey linked-div margin-horizontal">
            <a href="{% url 'QuestionView' standard=assesment.STANDARD %}" class="linked-div-a"></a>
            <h5 style="text-decoration: underline;">{{ assesment.NAME }}</h5>
            <p>standard-{{ assesment.STANDARD }}</p>
            <p>level-{{ assesment.LEVEL }}</p>
        </article>
    {% endfor %}
</div>

<span class="centered margin-vertical">Search Results</span>

<div class="topbar">
    <!-- <div hx-get="{# request.full_path #}?page=1" hx-trigger="load" id="assesment-target" hx-swap="afterend"></div> -->
    <div hx-get="{{ request.path }}?page=1&search={{ params.search|urlencode }}" hx-trigger="load" hx-swap="outerHTML"></div>
</div>
{% endblock %}
