{% load SRS_tags %}

{% for chunk in assesments|chunks:3 %}
{% for assesment in chunk %}
<article class="w3-container w3-white w3-hover-grey linked-div margin-horizontal margin-vertical">
    <a href="{% url 'QuestionView' standard=assesment.STANDARD %}" class="linked-div-a"></a>
    <h5 style="text-decoration: underline;">{{ assesment.NAME }}</h5>
    <p>standard-{{ assesment.STANDARD }}</p>
    <p>level-{{ assesment.LEVEL }}</p>
</article>
{% endfor %}
{% endfor %}

{% if assesments.has_next %}
<div hx-get="{{ request.path }}?page={{ assesments.next_page_number|urlencode }}&search={{ params.search|urlencode }}"
    hx-trigger="load" 
    hx-swap="outerHTML"></div>
{% endif %}
