{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>

<!-- <body class="w3-light-grey w3-content"> -->
<body class="w3-light-grey">
    <div class="w3-main flex">
        <!-- Header -->
        <header id="portfolio">
            <!-- <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a> -->
            <div class="w3-container">
                <div class="w3-section w3-padding-16 right-float">
                    <a href="{% url 'Logout' %}">Logout</a>      
                </div>
                <div class="w3-section w3-bottombar w3-padding-16">
                    {% if user.name %}
                    <span class="w3-text-grey">{{ user.name }}</span>
                    {% else %}
                    <span class="w3-text-grey">{{ user.email }}</span>
                    {% endif %}
                </div>
            </div>
        </header>  
        {% block content %}{% endblock %}
    <!-- End page content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-dark-grey">
    <div class="w3-row-padding">
        <div class="w3-third">
        <h3>FOOTER</h3>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
    
        <div class="w3-third">
        <h3>BLOG POSTS</h3>
        <ul class="w3-ul w3-hoverable">
            <li class="w3-padding-16">
            <!-- <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px"> -->
            <span class="w3-large">Lorem</span><br>
            <span>Sed mattis nunc</span>
            </li>
            <li class="w3-padding-16">
            <!-- <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px"> -->
            <span class="w3-large">Ipsum</span><br>
            <span>Praes tinci sed</span>
            </li> 
        </ul>
        </div>
    
        <div class="w3-third">
        <h3>POPULAR TAGS</h3>
        <p>
            <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">London</span>
            <span class="w3-tag w3-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">DIY</span>
            <span class="w3-tag w3-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Family</span>
            <span class="w3-tag w3-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Shopping</span>
            <span class="w3-tag w3-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-grey w3-small w3-margin-bottom">Games</span>
        </p>
        </div>
    
    </div>
    </footer>      

</body>
</html>
