{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
    <meta name="htmx-config" content='{"allowEval": "false"}'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>

<!-- <body class="w3-light-grey w3-content"> -->
<!-- Header -->

<header id="portfolio" class="w3-light-grey">
    <!-- <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a> -->
    <div class="w3-container">
        <div class="w3-section w3-padding-16 right-float">
            <a href="{% url 'Logout' %}">Logout</a>      
        </div>
        <div class="w3-section w3-padding-16 right-float" style="padding-right: 16px;">
            <a href="{% url 'Index' %}">Home</a>      
        </div>
        <div class="w3-section w3-bottombar w3-padding-16">
            {% if user.name %}
            <span class="w3-text-grey">{{ user.name }}</span>
            {% else %}
            <span class="w3-text-grey">{{ user.email }}</span>
            {% endif %}
        </div>
    </div>
</header>  
<body class="w3-light-grey">
    <div class="w3-main flex" id="main" style="padding-left: 35px; padding-right: 35px;">
        {% block content %}{% endblock %}
    <!-- End page content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-dark-grey" style="min-height: 50px;">
    </footer>      

</body>
</html>
