{% extends 'SRS/base.html' %}

{% block head %}
    <title>FAQ</title>
{% endblock %}

{% block content %}
    <div style="display: table; text-align: center; width: 70%; margin-left: auto; margin-right: auto;">
        <h3>What is the website about?</h3>
        <p>It's a website for studying assesments. </p>
        <br>
        <h3>How does this website work?</h3>
        <p>
            After answering a question for an assesment you can view model answers 
            and rate how well you answered the question. Your rating determines when that question becomes available 
            again for you to answer, which will maximize the time spent studying unknown content.
        </p>
        <br>
        <h3>How do I find a certain assesment?</h3>
        <p>Use the search bar in the home tab to search for the assesment standard.</p>
        <br>
        <h3>How do I use special symbols?</h3>
        <p>Press the virtual keyboard icon and use the mathlive keybord.</p>
        <br>
    </div>
{% endblock %}