{% extends 'SRS/base.html' %}

{% block head %}
    <title>FAQ</title>
{% endblock %}

{% block content %}
    <div style="display: table; text-align: center; width: 100%;">
        <h3>What is the website about?</h3>
        <p>It's a website for studying assesments. </p>
    </div>
    <br>
    <div style="display: table; text-align: center; width: 100%;">
        <h3>How do I find a certain assesment?</h3>
        <p>Use the search bar in the home tab to search for the assesment standard.</p>
    </div>
    <br>
    <div style="display: table; text-align: center; width: 100%;">
        <h3>How do I use special symbols?</h3>
        <p>Press the virtual keyboard icon and use the mathlive keybord.</p>
    </div>
    <br>
{% endblock %}