span.centered {
    display: table;
    margin: 0 auto;
}

.topbar {
    display: flex;
    direction: row;
    width: 100%;
    /* margin-left: 16px;
    margin-right: 16px; */
    overflow-x: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topbar > * {
    text-align: center;
    align-content: center;
    width: 33.3333%;
    min-width: 200px;
}

p, a {
    word-wrap: break-word;
    white-space: normal;
}

#search-icon {
    background: url('/static/images/search-icon.svg'); /* icons8.com */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: -5px;

    /* Make it white instead of black */
    filter: invert(100%) sepia(1%) saturate(2387%) hue-rotate(37deg) brightness(116%) contrast(100%);
}

span.icon {
    display: inline-block;
    border-radius: 1px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

form * {
    box-sizing: border-box;
  }

/* Style the search field */
form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form button:hover {
  background: #0b7dda;
}

/* Clear floats */
form::after {
  content: "";
  clear: both;
  display: table;
}

form
{
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.margin-vertical {
  margin-bottom: 10px;
  margin-top: 10px
}

.margin-horizontal {
  margin-left:16px;
  margin-right:16px;
}
